<div class="modular-row py-5 {{ bsTools.style(page.header.style) }} {{ page.header.classes }}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-{{ page.header.text_align|defined('center') }}">
          {{ content }}
      </div>
      <div class="col-12">
          {% include "forms/form.html.twig" %}
      </div>
    </div>
  </div>
</div>