@import "showcase";
@import "features";
@import "callout";

.modular-row {
  margin-bottom: 0;
  margin-top: 0;

  padding-top: $spacer * 3;
  padding-bottom: $spacer * 3;

  .show-more {
    margin-top: $spacer;
  }
}
