@function color-wib($color, $custom: null, $inversed: false) {
    $r: red($color);
    $g: green($color);
    $b: blue($color);

    $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

    @if ($yiq >= 150) {
        @if ($custom) {
            @return $custom;
        } @else {
            @return #111;
        }
    } @else {
        @if ($custom) {
            @return $custom;
        } @else {
            @return #fff;
        }
    }
}
