.item-card {
	margin-bottom: $spacer * 1.5;

	.card-body {
		padding-top: $spacer * .5;

		time {
			cursor: default;
		}

		.btn-toolbar .btn {
			margin-top: .5rem;
		}
	}

	.card-title {
		margin-bottom: $spacer * .25;
	}

	.categories {
		margin-bottom: $spacer * .25;
	}

	.summary p {
		margin-bottom: $spacer * .75;
	}

	.tags {
		font-size: 90%;
		margin-bottom: $spacer * .5;
	}
}
