{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="container{% if theme_config.fluid_container %}-fluid{% endif %}">
        <div class="row" style="height: 80vh">
            <div class="col my-auto text-center">
                <i class="fas fa-exclamation-triangle fa-3x text-danger py-3"></i>
                <h1>{{ 'ERROR'|t }} {{ header.http_response_code }}</h1>
                <div class="lead py-2">{{ page.content }}</div>
            </div>
        </div>
    </div>
{% endblock %}
