{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="container{% if theme_config.fluid_container %}-fluid{% endif %}">
        {{ content }}
        {% include "forms/form.html.twig" %}
    </div>
{% endblock %}
