{% extends 'partials/base.html.twig' %}

{% block content %}
    {% set item_columns = '' %}
    {% set sidebar = false %}
    {% if config.theme.sidebar.enabled is not sameas(false) and page.header.sidebar.enabled is not sameas(false) %}
        {% set sidebar = true %}
        {% set item_columns = 'col-md-8' %}
    {% endif %}

    <div class="container{% if config.theme.fluid_container %}-fluid{% endif %}">
        {% if config.plugins.breadcrumbs.enabled %}
            {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}
        <div class="row">
            <div id="item" class="item col-12 {{ item_columns }}">
                {% include 'partials/partial_item.html.twig' with {'parent':page.parent, 'truncate':false} %}
            </div>
            {% if sidebar %}
            <div id="sidebar" class="col-12 col-md-4{% if config.theme.sidebar.align == 'left' %} order-md-first{% endif %}">
                <div class="sidebar-content {% if config.theme.sidebar.border %}border-{{ config.theme.sidebar.border }}{% endif %}">
                    {% include 'partials/sidebar.html.twig' with { 'blog':page.parent } %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}