.footer {
  padding-top: $spacer;
  padding-bottom: $spacer;

  .footer-legal {
    color: $gray-500;
  }
}

.btn.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    box-shadow: 0 3px 10px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,.5);
}
