@function color-yiq($color, $custom: null, $inversed: false) {
    $r: red($color);
    $g: green($color);
    $b: blue($color);

    $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

    @if ($yiq >= 150) {
        @if ($custom) {
            @return $custom;
        } @else {
            @return #111;
        }
    } @else {
        @if ($custom) {
            @return $custom;
        } @else {
            @return #fff;
        }
    }
}

@each $color, $value in $colors {
    // text
    .text-#{$color} {
        color: $value;
    }
    // border
    .border-#{$color} {
        border-color: $value;
    }
    // background
    .bg-#{$color} {
        background-color: $value;
    }

    // buttons
    .btn.btn-#{$color} {
        background-color: $value;
        color: color-yiq($value) !important;
    }

    // buttons outline
    .btn.btn-outline-#{$color} {
        border-color: $value;
        color: $value;
        &:hover {
            color: color-yiq($value, #fff);
            background-color: $value;
        }
    }

    // badge
    .badge-#{$color} {
        background: $value;
        color: color-yiq($value, #fff);
    }
    a.badge-#{$color}:hover {
        color: color-yiq($value, $gray-200);
        text-decoration: none;
    }
}

// background text contrast
//@each $color, $value in $colors {
//  .bg-#{$color} {
//    color: color-yiq($value);
//  }
//}
